<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="swagger-converter-cli.ZPM">
    <Module>
      <Name>swagger-converter-cli</Name>
      <Version>0.0.1</Version>
      <Description>Client for swagger converter</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.swaggerconverter.PKG"/>
    </Module>
  </Document>
</Export>